/* MAIN PART STYLES */
.bart {
	display: inline;
}

#top-gray {
	height: 5vh;
	width: 100vw;
	background-color: gray;
}


#form-container2 {
	display:none;
}

#form-container, #form-container2 {
	margin-top: 10vh;
}

#sched-table {
	padding:25px;
}

#routes-at-station-values a{
	color: black;
}

#offline-sched {
	cursor: pointer;
}

#stations-input, #stations-input2 {
	width: 20vw;
}


#route1 {
	padding:20px;
	background-color: #ffff33;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route12 {
	padding:20px;
	background-color: #0099cc;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route6 {
	padding:20px;
	background-color: #339933;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route11 {
	padding:20px;
	background-color: #0099cc;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route5 {
	padding:20px;
	background-color: #339933;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route3 {
	padding:20px;
	background-color: #ff9933;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route8 {
	padding:20px;
	background-color: #ff0000;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route4 {
	padding:20px;
	background-color: #ff9933;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route7 {
	padding:20px;
	background-color: #ff0000;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route2 {
	padding:20px;
	background-color: #ffff33;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route19 {
	padding:20px;
	background-color: #d5cfa3;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

#route20 {
	padding:20px;
	background-color: #d5cfa3;
	width: 24vw;
	display: inline-block;
	border: solid 1px white;
}

/* end MAIN PART STYLES */
