/* MAIN PART STYLES */
body {
	background-color: gray;
	overflow-x: hidden;
}

th {
	color:white;
}

.header {
	width: 100vw;
	box-sizing: border-box;
}

.row {
	box-sizing: border-box;
	margin: 0;
}

#barts {
	background-color: white;
	box-sizing: border-box;
}

#forms {
	color: white;
 	text-align: left;
	box-sizing: border-box;
}

.bart {
	display: inline;
}

#top-gray {
	height: 3vh;
	background-color: gray;
	margin: 0 0 1px 0;
	padding: 0;
	border-bottom: 2px solid gray;
}

#top-white {
	height: 3vh;
	background-color: white;
	margin: 0 0 1px 0;
	padding: 0;
	border-bottom: 2px solid gray;
}

#form-container2 {
	display:none;
}

#form-container, #form-container2 {
	margin: 10vh 5vw 10vh 5vw auto;
}

#sched-table {
	padding:25px;
}

#sched-results p, #sched-results h4 {
	color: white;
	text-align: center;
}

#routes-at-station-values {
	padding-left: 2vw;
}

#routes-at-station-values p{
	padding-left: 2vw;
}

#routes-at-station-values a{
	color: black;
	cursor: pointer;
}

#routes-at-station-header {
	color: white;
}

#offline-sched {
	cursor: pointer;
	margin: 3vh auto;
	width: 50vw;
}

#stations-input {
	width: 30vw;
}

#stations-input2 {
	width: 29vw;
}

.content {
	margin-top: 1vh;
	border-top: 2px solid white;
}

.suggestedTime {
	text-align: left;
}

.you-are-here {
	color: white;
	background-color: gray;
}

#route1 {
	padding:20px;
	background-color: #ffff33;
	display: inline-block;
	border: solid 1px white;
}

#route12 {
	padding:20px;
	background-color: #0099cc;
	display: inline-block;
	border: solid 1px white;
}

#route6 {
	padding:20px;
	background-color: #339933;
	display: inline-block;
	border: solid 1px white;
}

#route11 {
	padding:20px;
	background-color: #0099cc;
	display: inline-block;
	border: solid 1px white;
}

#route5 {
	padding:20px;
	background-color: #339933;
	display: inline-block;
	border: solid 1px white;
}

#route3 {
	padding:20px;
	background-color: #ff9933;
	display: inline-block;
	border: solid 1px white;
}

#route8 {
	padding:20px;
	background-color: #ff0000;
	display: inline-block;
	border: solid 1px white;
}

#route4 {
	padding:20px;
	background-color: #ff9933;
	display: inline-block;
	border: solid 1px white;
}

#route7 {
	padding:20px;
	background-color: #ff0000;
	display: inline-block;
	border: solid 1px white;
}

#route2 {
	padding:20px;
	background-color: #ffff33;
	display: inline-block;
	border: solid 1px white;
}

#route19 {
	padding:20px;
	background-color: #d5cfa3;
	display: inline-block;
	border: solid 1px white;
}

#route20 {
	padding:20px;
	background-color: #d5cfa3;
	display: inline-block;
	border: solid 1px white;
}

/* end MAIN PART STYLES */
